/*====================The specifics====================*/

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Condensed.ttf);
}

@font-face {
    font-family: RosieBrown;
    src: url(fonts/RosieBrownSerifDemo.otf);
}

@font-face {
    font-family: Birds;
    src: url(fonts/Birds\ of\ Paradise\ ©\ PERSONAL\ USE\ ONLY.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    width: 100vw;
    height: 100vh;
}

/*====================The header====================*/
.header{
    width: 100%;
    height: 12%;
    background-color: #302F4D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "LTSaeda", sans-serif;
    font-size: large;
}

.name{
    color: #F0D3F7;
    font-family: "RosieBrown", serif;
    font-size: 4rem;
    font-weight: normal;
    margin: 0;
    margin-bottom: -1%;
    margin-left: 2%;
    text-shadow: 2px 2px #120D31;
}

.item:hover{
    background-color: #302F4D;
    color: #F0D3F7;
    transition: 0.5s;
}

.item .icon{
    margin-right: 10px;
}

.item a:active{
    color: #302F4D;
}

.carrossel{
    display: flex;
    width: 100%;
    height: 100%;
}

.carrossel img {
    width: 100%;
    height: auto; 
}

/*====================this is for computers====================*/
.item{
    color: #302F4D;
    text-decoration: none;
    text-shadow: none;
    display: flex;
    flex-direction: row;
    padding: 10px;
    font-size: large;
    font-weight: bold;
}

main{
    background-image: url(imgs/IMG_20221027_101601~2\ \(2\).webp);
    background-color: #120D31;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
}

main .homepage{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.box{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: start;
    margin: 0;
}

.textbox{
    width: 100%;
}

.intro{
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-size: larger;
    text-align: justify;
    text-shadow: 0 0 5px #120D31, 1px 1px 2px #120D31;
    letter-spacing: 2px;
    line-height: 1.3;
}

.intro #ML{
    color: #F0D3F7;
    text-shadow: 2px 2px #120D31;
    font-weight: bold;
}

.title{
    color: #F0D3F7;
    font-family: "Birds", cursive;
    font-weight: normal;
    font-size: 8rem;
    text-shadow: 1px 1px 10px #000, 3px 3px #120D31;
    width: auto;
    margin: 0;
}

.imgbox{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.profile{
    width: 80%;
    border-radius: 50%;
    border: 4px solid #F0D3F7;
    box-shadow: 5px 5px 5px #120D31;
}

.container-carrossel{
    margin: auto;
    margin-top: 1.5%;
    max-width: 26%;
    height: auto;
    overflow: hidden;
}

.navigation{
    position: absolute;
    z-index: 10;
    top: 2%;
    right: 1%;
    width: 40px;
    height: 40px;
    background-color: #F0D3F7;
    border-radius: 4px;
    overflow: hidden;
    transition: width 0.5s, height 0.5s;
    transition-delay: 0s, 0.7s;
}

.navigation.active{
    width: 160px;
    height: 170px;
    box-shadow: 2px 2px 5px #120D31;
}

.navigation .menuToggle{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #F0D3F7;
    cursor: pointer;
    transition: 0.5s;
}

.navigation .menuToggle .menuIcon{
    color: #120D31;
    width: 24.8px;
    height: 24.8px;
    margin-right: 7.6px;
    margin-left: 7.6px;
}

.navigation .menuToggle.active{
    background-color: #120D31;
}

.navigation .menuToggle.active .menuIcon{
    color: #F0D3F7;
}

.navigation .menuToggle::before{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #120D31;
    width: 40px;
    height: 40px;
    font-weight: 400;
    transition: 0.5s;
}

.navigation .menuToggle.active::before{
    color: #F0D3F7;
}

#prevBtn{
    position: absolute;
    left: 30%;
    top: 50%;
    z-index: 10;
    background-color: #F0D3F7;
    width: 50px;
    height: 50px;
    opacity: 70%;
    color: #120D31;
    align-items: center;
    border: none;
    border-radius: 8%;
    cursor: pointer;
}

#nextBtn{
    position: absolute;
    top: 50%;
    right: 29%;
    z-index: 10;
    background-color: #F0D3F7;
    width: 50px;
    height: 50px;
    opacity: 70%;
    color: #120D31;
    align-items: center;
    border: none;
    border-radius: 8%;
    cursor: pointer;
}


/*====================this is for phones====================*/
@media only screen and (max-width: 600px){
    main{
        background-image: url(imgs/58\ Sem\ Título\ \(1\).webp);
        background-color: #120D31;
        background-size: cover;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item{
        font-size: larger;
    }

    .container-carrossel{
        max-width: 90%;
        margin: auto;
        margin-top: 6%;
        height: auto;
        overflow: hidden; 
    }

    .name{
        font-size: 3rem;
    }

    .homepage{
        display: flex;
        flex-direction: column;
        justify-items: center;
        padding-bottom: 15%;
    }

    .box{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-items: start;
        align-items: start;
        margin-bottom: 10%;
        margin: 0;
    }

    .textbox{
        width: 100%;
    }

    .intro{
        font-size: medium;
        text-shadow: 0 0 5px #000,
        0 0 6px #000,
        0 0 6px #120D31;
        line-height: 1.4;
    }

    .intro #ML{
        color: #F0D3F7;
        text-shadow: 1px 1px #120D31, 0 0 3px #000;
    }

    .title{
        font-size: 5rem;
    }

    .imgbox{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        position: absolute;
        top: 15%;
        right: 11%;
    }

    .profile{
        width: 100%;
        border-radius: 50%;
        border: 4px solid #F0D3F7;
        box-shadow: 5px 5px 5px #120D31;
    }

    .navigation{
        top: 2%;
        right: 3%;
    }

    .navigation.active{
        width: 200px;
        height: 180px;
    }

    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding-bottom: 20vh;
    }

    #prevBtn{
        position: absolute;
        left: 2%;
    }

    #nextBtn{
        position: absolute;
        right: 2%;
    } 
}
/*====================this is for tablets====================*/
@media only screen and (max-width: 768px) and (min-width:600px){
    .name{
        font-size: 4rem;
    }

    .item{
        font-weight: bold;
        font-size: 2rem;
    }

    .homepage{
        display: flex;
        flex-direction: column;
        justify-items: center;
        padding-bottom: 5%;
    }

    .box{
        width: 80%;
    }

    .intro{
        font-size: x-large;
        line-height: 1.4;
    }

    .imgbox{
        width: 50%;
        position: absolute;
        top: 15%;
        right: 11%;
    }

    .profile{
        width: 100%;
    }

    .container-carrossel{
        max-width: 80%;
        margin: auto;
        margin-top: 4%;
        height: auto;
        overflow: hidden; 
    }

    .navigation{
        top: 2%;
        right: 3%;
        width: 60px;
        height: 60px;
    }
    
    .navigation.active{
        width: 300px;
        height: 250px;
    }
    
    .navigation .menuToggle{
        height: 60px;
    }

    .navigation .menuToggle .menuIcon{
        width: 34.8px;
        height: 34.8px;
        margin-right: 15.2px;
        margin-left: 15.2px;
    }

    .navigation .menuToggle::before{
        width: 60px;
        height: 60px;
    }
    
    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding-bottom: 20vh;
    }

    #prevBtn{
        position: absolute;
        left: 3%;
    }

    #nextBtn{
        position: absolute;
        right: 3%;
    }
}